
body{
    background-color: rgb(255, 249, 186);
    background-image: url(https://media.tenor.com/wpSo-8CrXqUAAAAi/loading-loading-forever.gif);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
}

div.title{
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(131, 240, 131);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    text-align: center;
}

div.text{
    font-size: 75px;
    color: rgb(131, 240, 131);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    text-align: center;
}