
@font-face{
    font-family:'bluescreen';
    src: url('fonts/Blue-Screen.woff');
}

@font-face{
font-family: 'andale';
src: url('fonts/Andale-Mono.woff');
}


body{
    background-color: black;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: blue;
}

div.title{
    font-size: 90px;
    font-family:'bluescreen';
    color: rgb(0, 255, 0);
    text-align: center;
}

div.text-left{
    font-size: 14px;
    color: white;
    text-align: left;
    font-family: 'andale';
    margin-right: 100px;
    
}

div.highlight-left{
    font-size: 14px;
    color: rgb(0, 255, 0);
    font-family: 'andale';
    text-align: left;
   
}


div.quote{
    font-size: 14px;
    color: rgb(0, 255, 0);
    text-align: centre;
    font-family: 'andale';
    margin-left: 10px;
    margin-right: 10px;
    text-align-last: center;
}

div.quote2{
    font-size: 30px;
    color: rgb(0, 255, 0);
    text-align: centre;
    font-family: 'andale';
    margin-left: 150px;
    margin-right: 150px;
    text-align-last: right;
}
