body{
    background-color: rgb(76, 115, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

@font-face {
    font-family: "LEDLIGHT";
    src: url("LEDLIGHT.otf");
}

h1{
    font-family: "LEDLIGHT";
    text-align: center;
    font-size: 200px;
}